*{
    margin:0;
    padding:0;
}
.head{
    background-image:url(plain\ image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid aqua;
    width: 92%;
}
.logo{
    margin-left: 10px;
    margin-top: 10px;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-weight: bold;
    border-color: aqua;
    cursor: pointer;
}
button:hover{
        background-color: black;
}
.content{
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sidebar
{
background-color: rgb(8, 49, 49);
width:8%;
height: 100%;
position: absolute;
right: 0;
top:0;
border-left: 1px solid aqua;
}
.sidebar i{
    color: whitesmoke;
    margin-top: 70px;
    right: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble img{
    width: 50px;
    height: 50px;
    animation: bubble 6s linear infinite;
}
.bubble{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
}
@keyframes bubble{
    0%{
        opacity:0;
        transform: translateY(0);
    }
    25%{
        opacity:1;
    }
    50%{
        opacity: 1;
        
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: translateY(-50vh);
    }
}
.bubble img:nth-child(1)
{
    animation-delay: 2s;
    width: 60px;
    height: 60px;
} 
.bubble img:nth-child(2)
{
    animation-delay: 3s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(3)
{
    animation-delay: 4s;
    width: 30px;
    height: 30px;
}
.bubble img:nth-child(4)
{
    animation-delay:5s;
    width: 70px;
    height: 70px;
}
.bubble img:nth-child(5)
{
    animation-delay: 4s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(6)
{
    animation-delay: 3s;
    width: 25px;
    height: 25px;
}

@media screen and (max-width:450px)
{
.head{
    background-image:url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo
{
    margin-left: 30px;
}
.sidebar
{
    left: 0;
}
}
@media screen and (min-width:451px) and (max-width:900px) 
{
    .head{
    background-image:url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }   
    button:hover
    {
    background-color: aqua;
    }
    .sidebar
    {
    left: 0;
    }
    .bubble img:nth-child(1)
{
    animation-delay: 2s;
    width: 25px;
    height: 25px;
}
.logo{
    margin-left: 50px;
}
}



 